* {
	margin: 0;
}
/* id dung cho don le, class dung cho nhieu phan tu */
#menu_text {
	background-color: #42aaf5;
	text-align: center;
	padding: 50px;
}

nav {
	background-color: #333;
	/* padding: 14px 20px; */
	overflow: hidden; /* hidden padding nav children */
}

nav a {
	color: whitesmoke;
	padding: 14px 20px;
	display: block; /* block nav a de cho tung item thanh hang ngang, to nho tuy thuoc vao nav a*/
	text-align: center;
	text-decoration: none;/* xoa bo gach chan chu */
}
nav a:hover {/* tao hieu ung hover cho nav */
	background-color: #ddd;
	color: black;
}
.menu_right {
	float: right; 
}
.menu_left {
	float: left;
}
 footer {
	background-color: #333;
	text-align: center;
	color: whitesmoke;
	text-decoration: none;
 }