#menu_text {
	margin: 0%;
}

/* id dung cho don le, class dung cho nhieu phan tu */
#menu_text {
	background-color: #42aaf5;
	text-align: center;
	padding: 50px;
}

nav {
	background-color: #333;
	/* padding: 14px 20px; */
	overflow: hidden; /* hidden padding nav children */
}

nav a {
	color: whitesmoke;
	padding: 14px 20px;
	display: block; /* block nav a de cho tung item thanh hang ngang, to nho tuy thuoc vao nav a*/
	text-align: center;
	text-decoration: none;/* xoa bo gach chan chu */
}
nav a:hover {/* tao hieu ung hover cho nav */
	background-color: #ddd;
	color: black;
}
.menu_right {
	float: right; 
}
.menu_left {
	float: left;
}
 footer {
	background-color: #333;
	text-align: center;
	color: whitesmoke;
	text-decoration: none;
	padding: 5px 20px;
 }
 footer a {
	color: white;
 }
 #left_side {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 10px 20 px;
 }
 #right_side {
	flex: 70%;
	background-color: bisque;
	padding: 10px 20px;
 }
 #flex_container {
	display: flex ;
	flex-wrap: nowrap;
 }
/* test tabble */

 table, th, td {
	border-collapse: collapse;
/* 	width: 100%; */
	border: 1px solid #333;
	padding: 15px;
	text-align: center;
  }
  @media(max-width: 800px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
  }
  @media(max-width: 400px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
  }
  
